body{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/images/background/backgroundMovie.jpg);
    opacity: 0.7;
    z-index: -1;
}

.logo img {
    height: auto;
    width: 100%;
    max-width: 250px;
    border-radius: 100%;
}

.slider {
    display: flex;
    overflow-x: auto;
}

.slide {
    flex: 0 0 300px;
    margin-right: 10px;
}


.slide img {
    width: 95%;
    height: auto;
    border-radius: 20px;
}

.slide a {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: #851010;
    text-decoration: none;
    font-weight: bold;
}

/*менюшка*/
header {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-right: 10px;
  }
  
  .nav li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  .nav li a:hover {
    background-color: #ddd;
  }
  
  .logo img {
    height: 50px;
    width: auto;
  }
  
  .menu-toggle {
    display: none;
  }
  
  .menu-btn {
    display: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 600px) {
    .nav {
      flex-direction: column;
    }
  
    .nav li {
      margin-bottom: 10px;
    }
  
    .menu-toggle:checked ~ .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .menu-btn {
      display: block;
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    .menu-toggle:checked + .menu-btn:before {
      content: "\f00d";
    }
  }